#dropzone {
    border: solid 1px blue;
    height: 150px;
    width: 150px;
}

.postit {
    -webkit-box-shadow: 0px 10px 30px rgba(6, 6, 6, 0.57); /* IE6-9 fallback on horizontal gradient */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1ba1e2), to(#1ba1e2));
    /* Old browsers *//* FF3.6+ *//* Chrome,Safari4+ *//* Chrome10+,Safari5.1+ *//* Opera 11.10+ *//* IE10+ *//* W3C */
    border: 1px solid #777777;
    border-bottom-right-radius: 60px 5px;
    color: white;
    font-size: 14px;
    list-style: none;
    margin: 5px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-height: 170px;
    min-height: 85px;
    padding: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 120px;
}

.btnRemove {
    background: url('/Content/images/remove.png');
    background-size: 25px 25px;
    border: none;
    cursor: pointer;
    left: 23px;
    max-width: 25px;
    min-height: 25px;
    position: relative;
    top: 34px;
    z-index: 99;
}

#btnRemoveBoard {
    float: right;
    position: relative;
    right: -10%;
    top: 10px;
}

#btnEditBoard {
    float: right;
    position: relative;
    right: 20%;
    top: 10px;
}

.btnRemoveColumn {
    background: url('/Content/images/remove.png');
    background-size: 25px 25px;
    cursor: pointer;
    left: 3px;
    max-width: 25px;
    min-height: 25px;
    position: relative;
    top: -16px;
    z-index: 99;
}

.columnHeads .column {
    -moz-box-shadow: 0px 10px 30px #000;
    -webkit-box-shadow: 2px 2px 20px 5px #000;
    background: url('/Content/images/bg3.png');
    border: black;
    border-left: solid;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    max-height: 40px;
    min-height: inherit;
    padding: inherit;
    padding-top: 10px;
    text-align: center;
}

.column {
    horiz-align: center;
    min-height: 280px;
}

.column1 {
    float: left;
    width: 32%;
}

.column2 {
    float: left;
    width: 32%;
}

.column3 {
    float: left;
    width: 32%;
}

.column4 {
    float: left;
    width: 24%;
}

.column5 {
    float: left;
    width: 19%;
}

.taskBorder {
    -moz-background-clip: padding;
    -moz-border-radius: 5px;
    background-image: url(/Content/images/cork.jpg);
    background-repeat: repeat;
    border: 9px solid #2A2A2A;
    border-radius: 25px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F8FC', endColorstr='#E1EAEF', GradientType=0); /* ie */
    margin-top: 22px;
    min-height: 30px;
    padding: 10px;
}

.connectedSortable { min-height: 280px; }

.row {
    margin: 0px 0;
    margin-top: 20px;
    padding: 15px;
}